/* tweek */

body {
  font-size: .875rem !important;
 /* background-color: #615c5c !important;*/
  background-color: white !important;
}

.navbar.navbar-dark.fixed-top.bg-dark a {
  text-align: center;
}

.table th, .table td {
  vertical-align: middle !important;
}

.bejy .mb-1{
  padding-left: 3px !important;
}

.article, .collection {
  display: none;
}

#book:hover, #article:hover, #collection:hover{
  cursor: pointer;
}

.form-group label{
  margin: 4px 0 4px 0 !important;
}

.form-style-2 div label .btn {
  margin-top: 7px;
}

.page-link {
    color: #343a40 !important;
}
/*
.enter, .enter + .book > h1, .home {
  padding-left: 15px !important;
}

.home {
  padding-left: 30px !important;
}

main.entry {
  margin-left: 15px;
}*/

.entry .form-group {
  margin-left: -15px;
}

.logged_in_info {
  bottom: 10px;
  position: absolute;
  left: 10px;
}
/*
.page-title.page2 {
  padding-left: 15px;
}
*/
.xx {
    width: 200px;
    height: 100px;
    margin: -70px 0 0 -120px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
}

.x {
  width: 200px;
  height: 200px;
}

.xx .btn {
  margin: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 22% !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modal-header .close {
  padding: 1rem 1rem !important;
  margin: -29px -23px -1rem auto !important;
}

.close {
  color: white !important;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 38px;
  display: block !important;
  padding: 2px 16px;
  background-color: #358dd0;;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  text-align: center;
  font-size: 16px;
}

.modal-footer {
  display: block !important;
  padding: 2px 16px;
  background-color: white;
  color: white;
}

.modal-footer {
  text-align: center;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

[role="main"] {
  padding-top: 47px !important;
}

.modal .modal-content {
width: 62% !important;
}}


@media (min-width: 576px){
.modal-sm {
    max-width: 100% !important;
}}


@media (max-width: 768px){

body {
  background-image: url(../images/cutecat.jpg) !important;
  background-size: cover;
}  

main.entry {
    margin-left: 0px !important;
}

.entry .form-group {
  margin-left: -15px !important;
}

.sidebar-sticky {
    height: auto !important;
    padding-top: 0px !important;
    margin-top: -6px !important;
}

.nav-item {
  display:inline;
}

.nav {
  display: flex !important;
}
.flex-column {
  flex-direction: inherit !important;
}
.nav.flex-column{
  flex-direction: inherit !important;
}

[role="main"] {
      padding-top: 10px !important;
}

}
